body {
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;
  color: #333;
}

main {
  display: flex;
  flex-direction: row;
  flex: auto;
}

article {
  flex: 2;
}

aside {
  flex: 1;
}

article,
aside {
  overflow-y: auto;
}

a:hover {
  text-decoration: underline;
}
